<div class="row m-0 BG-Black BorderSection White" id="Clientes">
    <div class="col-12 d-none d-md-block ContainerImage text-center">
        <div class="rellax Absolute pl-4" data-rellax-speed="0.4">
            <img src="../../../assets/img/SVGs/icons/clientes.svg" class="ClientesTitle" alt="">
        </div>
    </div>
    <div class="col-12 p-4">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide SwiperItem">
                    <img src="../../../assets/img/SVGs/clients/bancoatlantida.svg" alt="bancoatlantida">
                </div>
                <div class="swiper-slide SwiperItem">
                    <img src="../../../assets/img/SVGs/clients/bcie.svg" alt="bcie">
                </div>
                <div class="swiper-slide SwiperItem">
                    <img src="../../../assets/img/SVGs/clients/chillis.svg" alt="chillis">
                </div>
                <div class="swiper-slide SwiperItem">
                    <img src="../../../assets/img/SVGs/clients/circlek.svg" alt="circlek">
                </div>
                <div class="swiper-slide SwiperItem">
                    <img src="../../../assets/img/SVGs/clients/claro.svg" alt="claro">
                </div>
                <div class="swiper-slide SwiperItem">
                    <img src="../../../assets/img/SVGs/clients/iht.svg" alt="iht">
                </div>
                <div class="swiper-slide SwiperItem">
                    <img src="../../../assets/img/SVGs/clients/kielsa.svg" alt="kielsa">
                </div>
                <div class="swiper-slide SwiperItem">
                    <img src="../../../assets/img/SVGs/clients/laprensa.svg" alt="laprensa">
                </div>
                <div class="swiper-slide SwiperItem">
                    <img src="../../../assets/img/SVGs/clients/mapfre.svg" alt="mapfre">
                </div>
                <div class="swiper-slide SwiperItem">
                    <img src="../../../assets/img/SVGs/clients/multiplaza.svg" alt="multiplaza">
                </div>
                <div class="swiper-slide SwiperItem" data-swiper-autoplay="1000">
                    <img src="../../../assets/img/SVGs/clients/pollocampero.svg" alt="pollocampero">
                </div>
                <div class="swiper-slide SwiperItem">
                    <img src="../../../assets/img/SVGs/clients/tse.svg" alt="tse">
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>