<div class="row m-0 BG-Black BorderSection White" id="Clientes">
    <div class="col-12 text-center">
        <div class="rellax Absolute pl-4" data-rellax-speed="0.4">
            <img src="../../../assets/img/SVGs/icons/clientes.svg" class="ClientesTitle" alt="">
        </div>
    </div>
    <div class="col-12 p-4">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide SwiperItem">
                    <img src="../../../assets/img/SVGs/clients/bancoatlantida.svg" alt="">
                </div>
                <div class="swiper-slide SwiperItem">
                    <img src="../../../assets/img/SVGs/clients/bcie.svg" alt="">
                </div>
                <div class="swiper-slide SwiperItem">
                    <img src="../../../assets/img/SVGs/clients/chillis.svg" alt="">
                </div>
                <div class="swiper-slide SwiperItem">
                    <img src="../../../assets/img/SVGs/clients/circlek.svg" alt="">
                </div>
                <div class="swiper-slide SwiperItem">
                    <img src="../../../assets/img/SVGs/clients/claro.svg" alt="">
                </div>
                <div class="swiper-slide SwiperItem">
                    <img src="../../../assets/img/SVGs/clients/iht.svg" alt="">
                </div>
                <div class="swiper-slide SwiperItem">
                    <img src="../../../assets/img/SVGs/clients/kielsa.svg" alt="">
                </div>
                <div class="swiper-slide SwiperItem">
                    <img src="../../../assets/img/SVGs/clients/laprensa.svg" alt="">
                </div>
                <div class="swiper-slide SwiperItem">
                    <img src="../../../assets/img/SVGs/clients/mapfre.svg" alt="">
                </div>
                <div class="swiper-slide SwiperItem">
                    <img src="../../../assets/img/SVGs/clients/multiplaza.svg" alt="">
                </div>
                <div class="swiper-slide SwiperItem">
                    <img src="../../../assets/img/SVGs/clients/pollocampero.svg" alt="">
                </div>
                <div class="swiper-slide SwiperItem">
                    <img src="../../../assets/img/SVGs/clients/tse.svg" alt="">
                </div>
            </div>


            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>