
@font-face {
    font-family: Personify;
    src: url(Personify.otf) format("opentype");
}

@font-face {
    font-family: HelveticaNeue;
    src: url(HelveticaNeueLight.ttf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: HelveticaNeue;
    src: url(HelveticaNeueThin.ttf) format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: HelveticaNeue;
    src: url(HelveticaNeue.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: HelveticaNeue;
    src: url(HelveticaNeueMedium.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: HelveticaNeue;
    src: url(HelveticaNeueBd.ttf) format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: HelveticaNeue;
    src: url(HelveticaNeueHv.ttf) format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: HelveticaNeueStdBold;
    src: url(HelveticaNeueStdBold.ttf) format("truetype");
}

// @font-face {
//     font-family: HelveticaNeueSTD;
//     src: url(HelveticaNeueStdBold.ttf) format("truetype");
// }

@font-face {
    font-family: Locutor;
    src: url(BF36DAYSupperlower.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Locutor;
    src: url(BF36DAYSlightbold.ttf) format("truetype");
    font-weight: bold;
}