<div id="Servicios" class="row m-0 BorderSection BG-Black White">
    <div class="col-12 text-center py-4 BorderBottom">
        <div class="Header Title">
            SERVICIOS
        </div>
    </div>
    <div class="row m-0 p-0">

        <div class="col-12 col-md-4 p-0 order-last order-md-first ImageContainer
            jarallax
            BorderRight">
            <img class="Image jarallax-img"
                src="../../../assets/img/images/profile.webp"
                alt="">
        </div>
        <div class="col-12 col-md-8 p-0 d-flex ContainerServices">
            <div class="row m-0 BorderBottom ItemService">
                <div class="col-3 col-md-5 col-xl-4 p-0">
                    <div class="d-flex h-100 p-1 p-md-4">
                        <div class="Header Title Outline text-center m-auto
                            Number">
                            01
                        </div>
                    </div>
                </div>
                <div class="col-9 col-md-7 col-xl-8 BorderLeft p-0">
                    <div class="d-flex h-100 p-4 MaxWidth">
                        <div class="m-auto">
                            <div class="Header h2 m-0">
                                COMERCIALES <br /> DE TELEVISIÓN
                            </div>
                            <div>
                                EL APOYO AUDIOVISUAL POR MEDIO DE LA TELEVISIÓN
                                ES ESENCIAL PARA PROMOVER UN
                                PRODUCTO O SERVICIO.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-0 BorderBottom ItemService">
                <div class="col-3 col-md-5 col-xl-4 p-0">
                    <div class="d-flex h-100 p-1 p-md-4">
                        <div class="Header Title Outline text-center m-auto
                            Number">
                            02
                        </div>
                    </div>
                </div>
                <div class="col-9 col-md-7 col-xl-8 BorderLeft p-0">
                    <div class="d-flex h-100 p-4 MaxWidth">
                        <div class="m-auto">
                            <div class="Header h2 m-0">
                                COMERCIALES <br /> DE RADIO
                            </div>
                            <div>
                                LA VOZ ES UN ELEMENTO FUNDAMENTAL, YA QUE EN 30
                                SEGUNDOS, IDENTIFICA LA MARCA Y
                                CAUSA UN IMPACTO EN SUS OYENTES.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-0 BorderBottom ItemService">
                <div class="col-3 col-md-5 col-xl-4 p-0">
                    <div class="d-flex h-100 p-1 p-md-4">
                        <div class="Header Title Outline text-center m-auto
                            Number">
                            03
                        </div>
                    </div>
                </div>
                <div class="col-9 col-md-7 col-xl-8 BorderLeft p-0">
                    <div class="d-flex h-100 p-4 MaxWidth">
                        <div class="m-auto">
                            <div class="m-auto">
                                <div class="Header h2 m-0">
                                    VIDEOS CORPORATIVOS
                                </div>
                                <div>
                                    CONTENIDO AUDIOVISUAL CENTRADO EN UNA
                                    EMPRESA DE MANERA DIRECTA QUE VIENE A
                                    CUBRIR NECESIDADES CORPORATIVAS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-0 ItemService">
                <div class="col-3 col-md-5 col-xl-4 p-0">
                    <div class="d-flex h-100 p-1 p-md-4">
                        <div class="Header Title Outline text-center m-auto
                            Number">
                            04
                        </div>
                    </div>
                </div>
                <div class="col-9 col-md-7 col-xl-8 BorderLeft p-0">
                    <div class="d-flex h-100 p-4 MaxWidth">
                        <div class="m-auto">
                            <div class="Header h2 m-0">
                                JINGLES
                            </div>
                            <div>
                                UN TEMA MUSICAL CANTADO O CANCIÓN BREVE
                                UTILIZADA CON FINES PUBLICITARIOS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>