<div id="Servicios" class="row m-0 BorderSection BG-Black White">
    <div class="col-12 text-center py-4 BorderBottom">
        <div class="Header Title">
            SERVICIOS
        </div>
    </div>
    <div class="row m-0 p-0">

        <div class="col-12 col-md-4 p-0 order-last order-md-first ImageContainer BorderRight">
            <img class="Image" src="../../../assets/img/SVGs/colors/orange.svg" alt="">
        </div>
        <div class="col-12 col-md-8  p-0">
            <div class="row m-0 BorderBottom">
                <div class="col-3 col-md-5 col-xl-4 p-0">
                    <div class="d-flex h-100 p-1 p-md-4">
                        <div class="Header Title Outline text-center m-auto Number">
                            01
                        </div>
                    </div>
                </div>
                <div class="col-9 col-md-7 col-xl-8 BorderLeft p-0">
                    <div class="d-flex h-100 p-4 MaxWidth">
                        <div class="m-auto">
                            <div class="Header h2 m-0">
                                COMERCIALES DE TELEVISIÓN
                            </div>
                            <div>
                                LOREM IPSUM DOLOR SIT AMET, CON- SECTETUER ADIPISCING ELIT, SED DIAM NONUMMY NIBH
                                EUISMOD
                                TINCIDUNT UT LAOREET DOLORE MAGNA ALI
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-0 BorderBottom">
                <div class="col-3 col-md-5 col-xl-4 p-0">
                    <div class="d-flex h-100 p-1 p-md-4">
                        <div class="Header Title Outline text-center m-auto Number">
                            02
                        </div>
                    </div>
                </div>
                <div class="col-9 col-md-7 col-xl-8 BorderLeft p-0">
                    <div class="d-flex h-100 p-4 MaxWidth">
                        <div class="m-auto">
                            <div class="Header h2 m-0">
                                COMERCIALES DE RADIO
                            </div>
                            <div>
                                LOREM IPSUM DOLOR SIT AMET, CON- SECTETUER ADIPISCING ELIT, SED DIAM NONUMMY NIBH
                                EUISMOD
                                TINCIDUNT UT LAOREET DOLORE MAGNA ALI
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-0  BorderBottom">
                <div class="col-3 col-md-5 col-xl-4 p-0">
                    <div class="d-flex h-100 p-1 p-md-4">
                        <div class="Header Title Outline text-center m-auto Number">
                            03
                        </div>
                    </div>
                </div>
                <div class="col-9 col-md-7 col-xl-8 BorderLeft p-0">
                    <div class="d-flex h-100 p-4 MaxWidth">
                        <div class="m-auto">
                            <div class="m-auto">
                                <div class="Header h2 m-0">
                                    VIDEOS CORPORATIVOS
                                </div>
                                <div>
                                    LOREM IPSUM DOLOR SIT AMET, CON- SECTETUER ADIPISCING ELIT, SED DIAM NONUMMY NIBH
                                    EUISMOD
                                    TINCIDUNT UT LAOREET DOLORE MAGNA ALI
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-3 col-md-5 col-xl-4 p-0">
                    <div class="d-flex h-100 p-1 p-md-4">
                        <div class="Header Title Outline text-center m-auto Number">
                            04
                        </div>
                    </div>
                </div>
                <div class="col-9 col-md-7 col-xl-8 BorderLeft p-0">
                    <div class="d-flex h-100 p-4 MaxWidth">
                        <div class="m-auto">
                            <div class="Header h2 m-0">
                                JINGLES
                            </div>
                            <div>
                                LOREM IPSUM DOLOR SIT AMET, CON- SECTETUER ADIPISCING ELIT, SED DIAM NONUMMY NIBH
                                EUISMOD
                                TINCIDUNT UT LAOREET DOLORE MAGNA ALI
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>