<div id="Demo" class="row mx-0 MarginHeader BorderSection BG-Black">
    <div class="col-12 p-4">
        <img class="d-none d-md-block w-100" src="../../../assets/img/SVGs/logos/title_web.svg" alt="Logo">
        <img class="d-md-none w-100" src="../../../assets/img/SVGs/logos/title_mobile.svg" alt="Logo">
    </div>
    <div class="col-12 p-4">
        <div class="PaddingDesktop">
            <h2 class="White m-0 text-left text-md-center">
                CÉSAR MORALES ES UN LOCUTOR, GUITARRISTA, PRODUCTOR DE JINGLES <br class="d-none d-lg-block" /> Y SPOTS
                PUBLICITARIOS CON MÁS DE 25 AÑOS
                DE
                EXPERIENCIA
            </h2>
        </div>
    </div>
    <div class="rellax Absolute pl-4" data-rellax-speed="2" data-rellax-xs-speed="2" data-rellax-mobile-speed="3"
        data-rellax-tablet-speed="3" data-rellax-desktop-speed="3">
        <img src="../../../assets/img/SVGs/icons/cursor.svg" class="ImgClick" alt="">
    </div>
    <div class="col-12 px-4 pt-4">

        <div class="class">
            <a target="_blank" href="https://www.youtube.com/embed/fAgwqaDO1tI?autoplay=1">
                <!-- <img class="w-100" src="../../../assets/img/SVGs/colors/blue.svg" alt=""> -->
                <iframe class="Video"
                    src="https://www.youtube.com/embed/fAgwqaDO1tI?autoplay=1&modestbranding=1&showinfo=0&rel=0&theme=light&fs=0&color=white&controls=1&mute=1">
                </iframe>
            </a>
        </div>
    </div>
</div>