<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" [ngClass]="{'active': Active}">
        <div id="dismiss" (click)="Remove()">
            <i class="fas fa-arrow-left"></i>
        </div>

        <div class="sidebar-header">
            <img class="LogoImg" src="../../../assets/img/SVGs/logos/condensed_white.svg" alt="">
        </div>

        <app-menu [Sidebar]="true"></app-menu>
    </nav>
    <!-- Page Content  -->
    <div id="content" class="p-0">
        <app-navbar (ToggleEvent)="Toggle()"></app-navbar>

        <app-demo></app-demo>
        <app-clientes></app-clientes>



        <div class="Fill BG-Black"></div>

        <app-footer></app-footer>
        <div class="rellax Absolute pl-4" data-rellax-speed="3" data-rellax-xs-speed="3" data-rellax-mobile-speed="3"
            data-rellax-tablet-speed="2.2" data-rellax-desktop-speed="2.2">
            <img src="../../../assets/img/SVGs/icons/hand.svg" class="ImgHand" alt="">
        </div>

    </div>
</div>
<div class="overlay" [ngClass]="{'active': Active}" (click)="Remove()"></div>