<div *ngIf="!Sidebar" class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <div class="nav-link Header Pointer" (click)="ScrollToView('#Servicios')">SERVICIOS</div>
        </li>
        <li class="nav-item">
            <div class="nav-link Header Pointer" (click)="ScrollToView('#Videos')">RECIENTES</div>
        </li>
        <li class="nav-item">
            <div class="nav-link Header Pointer" (click)="ScrollToView('#Contacto')">CONTACTO</div>
        </li>
        <li class="nav-item">
            <div class="nav-link Header pr-0 Pointer" (click)="ScrollToView('#RedesSociales')">REDES SOCIALES</div>
        </li>
    </ul>
</div>

<ul *ngIf="Sidebar" class="list-unstyled components">
    <li class="nav-item">
        <a class="nav-link Header Pointer" (click)="ScrollToView('#Servicios')">SERVICIOS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link Header Pointer" (click)="ScrollToView('#Videos')">RECIENTES</a>
    </li>
    <li class="nav-item">
        <a class="nav-link Header Pointer" (click)="ScrollToView('#Contacto')">CONTACTO</a>
    </li>
    <li class="nav-item">
        <div class="nav-link Header Pointer" (click)="ScrollToView('#RedesSociales')">REDES SOCIALES</div>
    </li>
</ul>