<div *ngIf="!Sidebar" class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link Header" href="#">SERVICIOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link Header" href="#">RECIENTES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link Header" href="#">CONTACTO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link Header pr-0" href="#">REDES SOCIALES</a>
        </li>
    </ul>
</div>

<ul *ngIf="Sidebar" class="list-unstyled components">
    <li class="nav-item">
        <a class="nav-link Header" href="#">SERVICIOS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link Header" href="#">RECIENTES</a>
    </li>
    <li class="nav-item">
        <a class="nav-link Header" href="#">CONTACTO</a>
    </li>
    <li class="nav-item">
        <a class="nav-link Header" href="#">REDES SOCIALES</a>
    </li>
</ul>